.blue {
  background: #4d9292; }

.yellow {
  background: #ffae00; }

.pink {
  background: #ebb3bc; }

.lightgrey, body {
  background: #fefefe; }

.blue-txt {
  color: #4d9292; }

.yellow-txt {
  color: #ffae00; }

.pink-txt {
  color: #ebb3bc; }

.lightgrey-txt {
  color: #fefefe; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

footer {
  padding: 20px;
  height: 40px;
  padding-bottom: 50px; }

.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(23, 130px);
  margin: auto; }
  .container img {
    width: 100%;
    filter: grayscale(100%);
    transition-duration: 600ms; }
    .container img:hover {
      filter: grayscale(0); }
  .container .textbox {
    background: #fefefe;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 100; }
    .container .textbox .pink-txt:hover {
      color: #e08b98; }
    .container .textbox .blue-txt:hover {
      color: #3b7171; }
    .container .textbox .yellow-txt:hover {
      color: #cc8b00; }
  .container .one {
    grid-column: 5/9;
    grid-row: 3/6; }
  .container .imgone {
    grid-column: 1/6;
    grid-row: 1/5; }
  .container .two {
    grid-column: 1/4;
    grid-row: 6/10; }
  .container .imgtwo {
    grid-column: 4/8;
    grid-row: 5/8; }
  .container .three {
    grid-column: 5/9;
    grid-row: 10/13; }
  .container .imgthree {
    grid-column: 1/6;
    grid-row: 9/14; }
  .container .four {
    grid-column: 1/4;
    grid-row: 14/18; }
  .container .imgfour {
    grid-column: 4/9;
    grid-row: 13/16; }
  .container .five {
    grid-column: 4/8;
    grid-row: 21/24; }
  .container .imgfive {
    grid-column: 1/5;
    grid-row: 17/23; }

@media screen and (max-width: 1000px) {
  body {
    padding-top: 170px; }
  .container {
    display: block; }
    .container .textbox {
      position: relative;
      max-width: 500px;
      margin: auto;
      margin-top: -90px;
      margin-bottom: -90px;
      padding: 20px;
      padding-top: 35px;
      padding-bottom: 35px;
      width: 90%; }
  nav div a {
    margin-bottom: 20px; } }

nav {
  background: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  height: 50px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: space-between;
  z-index: 110; }
  nav h1 a {
    font-size: 30px;
    font-family: "Homemade Apple", cursive;
    display: inline;
    color: black;
    margin-left: 30px;
    align-self: center;
    justify-self: flex-start;
    transition-duration: 200ms;
    font-weight: normal; }
    nav h1 a:hover {
      color: #bfbfbf; }
    @media screen and (max-width: 450px) {
      nav h1 a {
        font-size: 20px; } }
  nav .closebtn {
    display: none; }
  nav span {
    margin-right: 20px;
    display: none; }
  nav div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-right: 0;
    text-align: center; }
    nav div a {
      display: block;
      margin-bottom: 20px; }
  nav span {
    margin-right: 20px;
    display: block; }
  nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 100% arial, sans-serif;
  position: relative; }

a {
  text-decoration: none;
  color: #ffae00; }
  a:hover {
    color: #cc8b00; }

p {
  line-height: 1.5;
  font-size: 14px; }
